---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RACE.DEV">
  <main>
    <h1>RACE.DEV</h1>
    <p class="intro">Hi, I'm a web developer working in climate tech.</p>
    <p>
      Currently at <a href="https://ecologi.com" target="_blank" rel="noopener noreferrer"
        >Ecologi</a
      >.
    </p>
    <p class="links">
      Find me on <a href="https://github.com/josephrace" target="_blank" rel="noopener noreferrer"
        >Github</a
      > or <a
        href="https://www.linkedin.com/in/josephrace"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 1rem;
  }
  .intro {
    font-size: 2.5rem;
  }

  @media (min-width: 600px) {
    .intro {
      font-size: 4rem;
    }
  }
</style>
