---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joseph Race">
  <main>
    <div class="logo">
      <Icon name="ph:tree" size="32" />
      <h1>Joseph Race</h1>
    </div>
    <p class="intro">Hi, I'm a software engineer working in climate tech.</p>
    <p>
      Currently at <a href="https://ecologi.com" target="_blank" rel="noopener noreferrer"
        >Ecologi</a
      >.
    </p>
    <p class="links">
      Find me on <a href="https://github.com/josephrace" target="_blank" rel="noopener noreferrer"
        >GitHub</a
      > or <a
        href="https://www.linkedin.com/in/josephrace"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 70ch;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  [astro-icon] {
    color: #fff;
    margin-right: 1rem;
  }
  h1 {
    font-size: 1rem;
  }
  .intro {
    font-size: 2.25rem;
  }

  @media (min-width: 600px) {
    .intro {
      font-size: 4rem;
    }
  }
</style>
