---
import BaseLayout from '../layouts/BaseLayout.astro';
import Emoji from '../components/Emoji.astro';
import PageTitle from '../components/PageTitle.astro';
---

<style lang="scss">
	@use '../scss/breakpoints';

	p {
		width: 100%;

		@include breakpoints.up('lg') {
			width: 50%;
		}
	}
</style>

<BaseLayout>
	<PageTitle>
		Sustainable <Emoji label="tree">🌳</Emoji> accessible inclusive <Emoji label="squid">🦑</Emoji> impactful equal open <Emoji label="avocado">🥑</Emoji>
	</PageTitle>
	<p>Full-Stack Developer driven by working on projects with purpose — from helping charities reach their audiences to providing tools for aspiring musicians.</p>
</BaseLayout>
