<style lang="scss">
  @use '../scss/spacing';

  div {
    max-width: spacing.$container;
    margin: 0 auto;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
    
    @include spacing.px(2);
	}
</style>

<div>
  <slot />
</div>
