<style lang="scss">
  @use 'sass:map';
  @use '../scss/variables';

  div {
    max-width: variables.$container-width;
    margin: 0 auto;
    padding: 0 map.get(variables.$spacers, 2);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>

<div>
  <slot />
</div>
