---
import Emoji from './Emoji.astro';
---

<style lang="scss">
  @use '../scss/spacing';
  @use '../scss/breakpoints';

  footer {
    font-size: 14px;
    
    @include spacing.py(3);
    
    @include breakpoints.up('md') {
      @include spacing.py(4);
    }
  }

  a {
		color: var(--text-color);
	}
</style>

<footer>
  <Emoji label="detective">🕵🏻‍♂️</Emoji> Find me on <a href="https://github.com/josephrace">Github</a>, <a href="https://stackoverflow.com/users/1391229/josephrace">Stack Overflow</a> or <a href="https://www.linkedin.com/in/josephrace">LinkedIn</a>
</footer>
